<div class="wrapper  section section-gray" ng-controller="RecipeController">
    <div class="container">
        <div class="space-50"></div>
        <div class="space-50"></div>
        <div class="row">
            <div class="col-md-12 dom-center-block">
                <div class="card">
                    <div class="content text-center">
                        <div class="row">
                            <div class="col-xs-2">
                                <a href="">
                                    <i class="fa fa-navicon fa-2x" style="margin-top:3px;"></i>
                                </a>
                            </div>
                            <div class="col-xs-8">
                                <h4 class="title">Recipes <i class="fa fa-newspaper-o fa-lg"></i></h4>
                            </div>
                            <div class="col-xs-2">
                                <a href="" ng-click="newRecipe()">
                                    <i class="fa fa-plus-circle fa-2x" style="margin-top:3px;"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div> <!-- end card -->
            </div>
        </div>

        <div class="space-50"></div>

        <div ng-show="isRecipes">
            <div class="row">
                <div class="col-xs-12 col-md-4" ng-repeat="recipe in recipes">
                    <div class="card">
                        <div class="image-home">
                            <img src="assets/app/img/blog_3.png" alt="..."/>
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-round">
                                    <i class="fa fa-eye"></i> View Recipe
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <!--<p class="category text-left">March 5, 2014</p>-->
                            <p class="category text-right">
                                <i class="fa fa-star text-warning"></i> Featured
                            </p>
                            <p class="category">Category: <a href=""><strong>Intel Edison</strong></a></p>
                            <a href="#">
                                <h4 class="title">Read Pressure Sensor and logging data to SD Card</h4>
                            </a>
                            <div class="footer">
                                <div class="author">
                                    <a href="#">
                                        <img src="assets/app/img/faces/face-5.jpg" alt="..." class="avatar">
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    <a href="#">
                                        <i class="fa fa-comments"></i> 89
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                    <a href="#">
                                        <i class="fa fa-heart"></i> 341
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end card -->
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <button class="btn btn-round btn-info btn-lg btn-block btn-fill btn-morphing" data-toggle="morphing" data-rotation-color="azure">More Recipes</button>
                    </div>
                </div>
            </div>
            <br /><br />
        </div>

        <div ng-show="isRecipe"></div>

        <div ng-show="isNewRecipe">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="content">
                            <p class="category">New Recipe Creation</p>
                            <h4 class="title">Adding a recipe? Just a quick note, we promise we won't hold you up...much</h4>
                            <hr>
                            <p>
                                We're really excited you want to share any IoT recipes you've spent your precious time researching, learning, implementing & documenting.
                                While we do appreciate any information you have that you can share, we wanted to give you some guidelines to adhere to, so that we can
                                ensure your recipe follows our Cannelloni structure as closely as possible.
                            </p>
                            <p>
                                Not trying to look a gift horse in the mouth here (yeah, we plan on riding that gift horse into the sunset believe us), we just
                                want to ensure consistency across all recipes in terms of structure and layout. It's a policy we strive to uphold which we believe will benefit
                                everyone - including you.
                            </p>

                            <div class="footer">
                                <div class="author">
                                    <a href="#">
                                        <img src="assets/app/img/faces/face-5.jpg" alt="..." class="avatar">
                                        <span> Team Pasta </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-refine">
                        <div class="header">
                            <h4 class="title">New IoT Recipe
                                <button class="btn btn-default btn-xs btn pull-right btn-simple" rel="tooltip" title="Reset Filter">
                                    <i class="fa fa-refresh"></i>
                                </button>
                            </h4>
                        </div>
                        <div class="content">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <br>
                                        <h5 class="panel-title">
                                            <a>Tell us what you implemented</a>
                                        </h5>
                                    </div>
                                    <div class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <form>
                                                <div class="form-group">
                                                    <h5>What's the title of this recipe?</h5>
                                                    <input type="text" class="form-control" id="recipe_name" placeholder="Type something concise">
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <h5>Who is the recipe for?</h5>
                                                    <input type="text" class="form-control" id="recipe_audience" placeholder="">
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <h5>What platform did you build it on?</h5>
                                                    <select name="huge" class="selectpicker" data-style="btn-info btn-fill btn-block" data-menu-style="dropdown-blue">
                                                        <option disabled selected> Choose Platform</option>
                                                        <option value="0">Arduino </option>
                                                        <option value="1">Edison</option>
                                                        <option value="2">Raspberry Pi </option>
                                                    </select>
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <h5>How would you best categorize your recipe?</h5>
                                                    <select name="huge" class="selectpicker" data-style="btn-info btn-fill btn-block" data-menu-style="dropdown-blue">
                                                        <option disabled selected> Choose Category</option>
                                                        <option value="0">Category A </option>
                                                        <option value="1">Category B</option>
                                                        <option value="2">Category C </option>
                                                    </select>
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <h5>Tag your recipe so that people can find it</h5>
                                                    <input name="recipe_tags" class="tagsinput tag-azure" value="IoT, phone, battery"/>
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <h5>What's the difficulty/skill level of this recipe?</h5>
                                                    <span>Difficulty: </span><label id="recipe_difficulty_label">Novice</label><br><br>
                                                    <div class="row">
                                                        <div class="col-md-7">
                                                            <div id="recipe-difficulty" class="slider-warning"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <h5>Do you have any pictures of what this recipe makes? </h5>
                                                    <!-- Upload images DOM -->
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <h5>Do you have any videos of what this recipe makes? </h5>
                                                    <!-- Youtube/Vimeo url embed -->
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <h5>Describe this recipe and what it makes a little bit more </h5>
                                                    <p class="category">
                                                        Here we want you to tell us more about your recipe - like a description, but feel free to
                                                        say as much as you think would be enough to give people a general idea of what your recipe is
                                                        about. You can include things like the motivation for the recipe, how it progressed, research you performed, etc.
                                                    </p>
                                                    <textarea class="form-control" placeholder="So, whats this all about?" rows="10"></textarea>
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <h5>What would be good to know before trying to make this recipe? </h5>
                                                    <p class="category">
                                                        Here, you should list the prerequisites for your recipe.
                                                    </p>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Title</th>
                                                                <th>Type</th>
                                                                <th>Description</th>
                                                                <th align="center">Required?</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>How to use Telnet</td>
                                                                <td>Knowledge-based</td>
                                                                <td>You'll need to be able to use Telnet (on Windows) to access your Edison.</td>
                                                                <td align="center">Yes</td>
                                                            </tr>
                                                            <tr>
                                                                <td><input type="text" class="form-control"></td>
                                                                <td>
                                                                    <select name="huge" class="selectpicker" data-style="btn-info btn-fill btn-block" data-menu-style="dropdown-blue">
                                                                        <option disabled selected> What type is it?</option>
                                                                        <option value="0">Environment-based </option>
                                                                        <option value="1">Equipment-based</option>
                                                                        <option value="2">Knowledge-based</option>
                                                                        <option value="3">Location-based</option>
                                                                        <option value="3">Language-based</option>
                                                                        <option value="3">Syntax-based</option>
                                                                    </select>
                                                                </td>
                                                                <td><input type="text" class="form-control"></td>
                                                                <td align="center">
                                                                    <div class="switch" style="margin-top: 3px;"
                                                                         data-on-label="<i class='fa fa-check'></i>"
                                                                         data-off-label="<i class='fa fa-times'></i>">
                                                                        <input type="checkbox" checked/>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-warning"><i class="fa fa-plus"></i> Add</button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <h5>Tell us how long it took you to implement it </h5>
                                                    <p class="category">
                                                        This should typically include just the time it takes to implement your IoT project - prep & build time. It should be the time taken
                                                        assuming that all requirements and prerequisites are met, all ingredients and components have been acquired, and all needed
                                                        research has been done. It should also be reflective of the skill level you listed above.
                                                    </p>
                                                    <br>
                                                    <form class="form-inline">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="recipe_prep_time" placeholder="Prep Time">
                                                        </div>
                                                        <div class="form-group">
                                                            <select name="huge" class="selectpicker" data-style="btn-info btn-fill btn-block" data-menu-style="dropdown-blue">
                                                                <option disabled selected> What unit?</option>
                                                                <option value="0">Minutes </option>
                                                                <option value="1">Hours</option>
                                                                <option value="2">Days</option>
                                                                <option value="3">Weeks</option>
                                                                <option value="3">Months</option>
                                                                <option value="3">Years</option>
                                                            </select>
                                                        </div>
                                                    </form>
                                                    <br>
                                                    <form class="form-inline">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="recipe_build_time" placeholder="Build Time">
                                                        </div>
                                                        <div class="form-group">
                                                            <select name="huge" class="selectpicker" data-style="btn-info btn-fill btn-block" data-menu-style="dropdown-blue">
                                                                <option disabled selected> What unit?</option>
                                                                <option value="0">Minutes </option>
                                                                <option value="1">Hours</option>
                                                                <option value="2">Days</option>
                                                                <option value="3">Weeks</option>
                                                                <option value="3">Months</option>
                                                                <option value="3">Years</option>
                                                            </select>
                                                        </div>
                                                    </form>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <br>
                                        <h5 class="panel-title">
                                            <a>Tell us what you need</a>
                                        </h5>
                                    </div>
                                    <div id="refineClothing" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p class="category">
                                                This is where you enter the components used within your IoT project. The ingredients for your recipe if you will
                                            </p>
                                            <br><br>
                                            <!--<div class="table-responsive">-->
                                            <div class="table-responsive">
                                                <table class="table table-shopping">
                                                    <thead>
                                                    <tr>
                                                        <th class="text-center"></th>
                                                        <th>Component</th>
                                                        <th class="th-description">Description</th>
                                                        <th class="text-right">Qty</th>
                                                        <th class="text-right">Price</th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="img-container">
                                                                <img src="assets/app/img/shopping_1.jpg" alt="...">
                                                            </div>
                                                        </td>
                                                        <td class="td-name">
                                                            SparkFun GPIO Block
                                                        </td>
                                                        <td>
                                                            <p>
                                                                SparkFun GPIO block for Edison
                                                            </p>
                                                        </td>
                                                        <td class="td-number">
                                                            <small>x</small>2
                                                        </td>
                                                        <td class="td-number">
                                                            <small>&dollar;</small>28.00
                                                        </td>
                                                        <td class="td-actions">
                                                            <button type="button" rel="tooltip" data-placement="left" title="Aprove" class="btn btn-info btn-simple btn-icon">
                                                                <i class="fa fa-check"></i>
                                                            </button>
                                                            <button type="button" rel="tooltip" data-placement="left" title="Remove item" class="btn btn-danger btn-simple btn-icon ">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                            <button type="button" rel="tooltip" data-placement="left" title="Wishlist" class="btn btn-default btn-simple btn-icon">
                                                                <i class="fa fa-heart-o"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="6">
                                                            <br>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <input type="text" class="form-control" placeholder="Component Name">
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <input type="text" class="form-control" placeholder="Description">
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="row">
                                                                <div class="col-md-1"><input type="text" class="form-control" placeholder="Qty"></div>
                                                                <div class="col-md-2">
                                                                    <select name="huge" class="selectpicker" data-style="btn-info btn-fill btn-block" data-menu-style="dropdown-blue">
                                                                        <option disabled selected> Unit</option>
                                                                        <option value="0">Items </option>
                                                                        <option value="1">Sets</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <button class="btn btn-warning pull-right"><i class="fa fa-plus"></i> Add</button>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <br>
                                        <h5 class="panel-title">
                                            <a>List the steps for your recipe</a>
                                        </h5>
                                    </div>
                                    <div id="refineDesigner" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p class="category">
                                                List the steps involved in making your recipe
                                            </p>
                                            <div class="space-50"></div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a href="#">
                                                        <h4 class="title">Step 1: Dance like a chicken</h4>
                                                    </a>
                                                    <div class="row">
                                                        <div class="col-md-1">
                                                            <p class="description">
                                                                <strong>Instructions: </strong>
                                                            </p>
                                                        </div>
                                                        <div class="col-md-11">
                                                            <p class="description">
                                                                Get up, start flaying your arms and cluck cluck cluck!
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="footer">
                                                        <div class="stats">
                                                            <a href="#">
                                                                <i class="fa fa-clock-o"></i> 20 mins
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row"></div>
                                        </div>
                                    </div>
                                </div><!-- end panel -->

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <br>
                                        <h5 class="panel-title">
                                            <a>Any last words?</a>
                                        </h5>
                                    </div>
                                    <div id="refineColour" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p class="category">
                                                Tell us any final thoughts you have about making your recipe
                                            </p>
                                        </div>
                                    </div>
                                </div> <!-- end panel -->
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--<script src="assets/app/js/custom/can-recipes.js"></script>-->
